@{
    Layout = "/Pages/_Layout.cshtml";
}
<!DOCTYPE html>
<html>
<head>
   
</head>
<body>
    
    <div>
        <hr />
        <div class="row">
            <div class="col-md-9">
                <div id="main">
                   
                    @RenderBody()
                </div>
            </div>
        </div>
    </div>

</body>
</html>
@section Scripts {
    @RenderSection("Scripts", required: false)

    <script type="text/javascript">
        $(document).ready(function () {
            $(".txt_truncate").each(function (i) {
                var len = $(this).text().trim().length;
                if (len > 200) {
                    $(this).text($(this).text().substr(0, 200) + '...');
                }
            });
        });

        function openNav() {
            document.getElementById("mySidenav").style.width = "240px";
        }

        function closeNav() {
            document.getElementById("mySidenav").style.width = "0";
        }



    </script>
}

