@model CMS.Domain.ViewModels.PostViewModel

@{
    ViewData["Title"] = "Create";
}


<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="~/select2/dist/css/select2.css" rel="stylesheet" />
    <link href="~/summernote/summernote.css" rel="stylesheet" />
    <style>
        body {
            font-family: "Lato", sans-serif;
            transition: background-color .5s;
        }

        .sidenav {
            height: 100%;
            width: 0;
            position: fixed;
            z-index: 1;
            top: 0;
            left: 0;
            background-color: #111;
            overflow-x: hidden;
            transition: 0.5s;
            padding-top: 60px;
        }

            .sidenav a {
                padding: 8px 8px 8px 32px;
                text-decoration: none;
                font-size: 25px;
                color: #818181;
                display: block;
                transition: 0.3s;
            }

                .sidenav a:hover {
                    color: #f1f1f1;
                }

            .sidenav .closebtn {
                float: right;
                margin-bottom: 100px;
            }

        #main {
            transition: margin-left .5s;
            padding: 16px;
        }
    </style>
</head>
<body>

    <div id="mySidenav" class="sidenav">


        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">  <span class="glyphicon glyphicon-remove" aria-hidden="true"></span></a>

        <br />
        <br />
        <br />


        <a asp-controller="Post" asp-action="Dashboard" class="btn btn-info btn-lg" style="font-size: 18px; ">All Posts</a>
        <br />
        <a asp-controller="Post" asp-action="Create" class="btn btn-info btn-lg" style="font-size: 18px;">Create New Post</a>
        <br />
        <a href="#" class="btn btn-info btn-lg" style="font-size: 18px;">All Comments</a>
        <br />

        <a href="/Account/Manage/ChangePassword" class="btn btn-info btn-lg" style="font-size: 18px;">Change Password</a>
        <br />
        <a href="/Account/Manage/Index" class="btn btn-info btn-lg " style="font-size: 18px;">Manage Profile</a>
        <br />
        <form asp-controller="Account" asp-action="Logout" method="post" id="logoutForm">
            <a class="btn btn-info btn-lg" onclick="document.getElementById('logoutForm').submit()" style="font-size: 18px;">Log out </a>
        </form>
    </div>
    <br />
    <span style="font-size:30px;cursor:pointer;float:left;" class="glyphicon glyphicon-th-list" onclick="openNav()"></span>
    <br />
    <br />
    <br />
    <div class="row" style="margin-left: 10px; ">
        <div class="col-md-8">
            <form asp-action="Create" enctype="multipart/form-data" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Title" class="control-label"></label>
                    <input asp-for="Title" class="form-control" />
                    <span asp-validation-for="Title" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label class="control-label">Catagories</label>

                    <select asp-for="Termid" class="form-control" multiple id="multiple_catagory">
                        @foreach (var item in Model.Terms)
                        {
                            if (item.Type.Equals("0"))
                            {
                                <option value="@item.TermID">@item.Content</option>
                            }

                        }

                    </select>
                    <span asp-validation-for="Termid" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Content" class="control-label"></label>

                    <textarea asp-for="Content" id="editor1" class="form-control"></textarea>

                    <span asp-validation-for="Content" class="text-danger"></span>
                </div>


                <div class="form-group">
                    <label class="control-label">Tags</label>

                    <select asp-for="Termid" class="form-control" multiple id="multiple_tag">
                        @foreach (var item in Model.Terms)
                        {
                            if (item.Type.Equals("1"))
                            {
                                <option value="@item.TermID">@item.Content</option>
                            }
                        }
                    </select>

                    <span asp-validation-for="Terms" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="FeaturedImageUrl" class="control-label"></label>
                    <input name="Image" type="file" class="form-control" />
                    <span asp-validation-for="FeaturedImageUrl" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Url" class="control-label"></label>
                    <input asp-for="Url" class="form-control" />
                    <span asp-validation-for="Url" class="text-danger"></span>
                </div>


                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-default" />
                </div>
            </form>
        </div>
    </div>






</body>
</html>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script src="~/select2/dist/js/select2.full.js"></script>
    <script src="~/summernote/summernote.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#editor1').summernote({

            });
        });
        $(document).ready(function () {
            $('#multiple_tag').select2({
                placeholder: "Select Tags"
            });
        });

        $(document).ready(function () {
            $('#multiple_catagory').select2({
                placeholder: "Select Catagories"
            });
        });
        $(document).ready(function () {
            $('#editor1').summernote({
                toolbar: [
                    // [groupName, [list of button]]
                    ['style', ['bold', 'italic', 'underline', 'clear', 'strikethrough', 'superscript', 'subscript']],
                    ['font', ['fontname', 'fontsize', 'color']],
                    ['para', ['ul', 'ol', 'paragraph', 'style', 'height']],
                    ['Link', ['picture', 'link', 'video', 'table', 'hr']],
                    ['Misc', ['undo', 'redo', 'fullscreen', 'codeview', 'help']]

                ],
                dialogsInBody: true,
                dialogsFade: true,
                //fontNames: ['Arial', 'Arial Black', 'Comic Sans MS', 'Courier New'],

            });
            $('.dropdown-toggle').dropdown();
        });

        function openNav() {
            document.getElementById("mySidenav").style.width = "240px";
        }

        function closeNav() {
            document.getElementById("mySidenav").style.width = "0";
        }

    </script>

}
