@model CMS.Domain.ViewModels.PostViewModel

@{
    ViewData["Title"] = "Create";
}
<link href="~/select2/dist/css/select2.css" rel="stylesheet" />

<h2>Create</h2>

<h4>Post</h4>
<hr />
<div class="row">
    <div class="col-md-8">
        <form asp-action="Create" enctype="multipart/form-data" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Categories" class="control-label"></label>

            <select asp-for="Categories" asp-items="@(new SelectList(@ViewBag.allcatagories,"TermID","Content"))" class="form-control" multiple id="multiple_catagory"></select>
            <span asp-validation-for="Categories" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Content" class="control-label"></label>

                <textarea asp-for="Content" id="editor1" class="form-control"></textarea>

                <span asp-validation-for="Content" class="text-danger"></span>
            </div>


            <div class="form-group">
                <label asp-for="Tags" class="control-label"></label>

                <select asp-for="Tags" asp-items="@(new SelectList(@ViewBag.alltags,"TermID","Content"))" class="form-control" multiple id="multiple_tag"></select>

                <span asp-validation-for="Tags" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="FeaturedImageUrl" class="control-label"></label>
                <input name="Image" type="file" class="form-control" />
                <span asp-validation-for="FeaturedImageUrl" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Url" class="control-label"></label>
                <input asp-for="Url" class="form-control" />
                <span asp-validation-for="Url" class="text-danger"></span>
            </div>


            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="~/select2/dist/js/select2.full.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#editor1').summernote({

            });
        });
        $(document).ready(function () {
            $('#multiple_tag').select2({
                placeholder:"Select Tags"
            });
        });

        $(document).ready(function () {
            $('#multiple_catagory').select2({
                placeholder:"Select Catagories"
            });
        });

    </script>

}
